#  Database configuration
DB_USER=
DB_PASS=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=guidance_db
DB_TLS=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=
REDIS_DB=0

# API configuration
WEBSITES_PORT=8080

# Authentication
JWT_SECRET=your_secret_here

# File storage configuration
STORAGE_DRIVER=local

UPLOAD_DIR=./uploads

AZURE_STORAGE_CONNECTION_STRING=
AZURE_CONTAINER_NAME=

# Other settings
IS_PRODUCTION=false
COOKIE_DOMAIN=localhost
GOTENBERG_URL=http://localhost:3001

MAILPIT_HOST=localhost
MAILPIT_PORT=1025

DOMAIN=pupt-ogos.dllbsit2027.com

#  Identity Provider (IDP) configuration
IDP_CLIENT_ID=your_idp_client_id
IDP_CLIENT_SECRET=your_idp_client_secret

IDP_BASE_URL=https://idp_base_url

AI_BASE_URL=http://localhost:8080