#  Database configuration
DB_USER=root
DB_PASS=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=guidance_db
DB_TLS=

# API configuration
WEBSITES_PORT=8080

# Authentication
JWT_SECRET=

# File storage configuration
STORAGE_DRIVER=local  # Change to "azure" for Azure Blob Storage

UPLOAD_DIR=  # Set for local storage, e.g., "./uploads"

AZURE_STORAGE_CONNECTION_STRING=  # Required if using Azure Blob Storage
AZURE_CONTAINER_NAME=

# Other settings
IS_PRODUCTION=false
COOKIE_DOMAIN=localhost
