#  Database configuration
DB_USER=root
DB_PASS=password
DB_HOST=localhost
DB_PORT=3306
DB_NAME=guidance_db
DB_TLS=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=
REDIS_DB=0

# API configuration
WEBSITES_PORT=8080

# Authentication
JWT_SECRET=your_jwt_secret_here

# File storage configuration
STORAGE_DRIVER=local

UPLOAD_DIR=uploads

AZURE_STORAGE_CONNECTION_STRING=
AZURE_CONTAINER_NAME=

# Other settings
IS_PRODUCTION=false
COOKIE_DOMAIN=localhost

#  Identity Provider (IDP) configuration
IDP_CLIENT_ID=
IDP_CLIENT_SECRET=
IDP_REDIRECT_URI=http://localhost:8080/callback
IDP_LOGIN_ENDPOINT=
IDP_TOKEN_ENDPOINT=
IDP_USERINFO_ENDPOINT=
IDP_REFRESH_ENDPOINT=
IDP_SESSION_ENDPOINT=

